@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}


/* @font-face {
  font-family: Stout;
  src: url("../assets/fonts/StoutDeco.ttf");
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  text-decoration: none;
}

/* TODO change radix theme defaults */
.radix-themes{
  --default-font-family:Nunito;
}

body {
   -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#drag-region {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: grab;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#workspace {
  background-image: 
    radial-gradient(rgb(235, 235, 235) 10%, transparent 10%),
    radial-gradient(rgb(235, 235, 235) 10%, transparent 10%);
  background-position: 0px 0px, 8px 8px;
  background-size: 16px 16px;
  background-color: rgb(255, 255, 255);
}